@mixin text($size, $weight: null) {
  margin: 0;
  letter-spacing: 0.1rem;
  font-size: $size;
  font-weight: $weight;
}

@mixin button-wrapper($color, $bg-color, $has-shadow: true, $rounded: false, $for-tips: false) {
  letter-spacing: 0.1rem;
  background-color: $bg-color !important;
  color: $color !important;

  @if $has-shadow {
    box-shadow: 0 1px 5px rgb(54, 54, 54) !important;
  }

  @if $rounded {
    padding: 8px 45px !important;
    border-radius: 2rem !important;
  }

  @if $for-tips {
    width: 30%;
  }
}

@mixin tablet() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

@mixin pc {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
