.course-page-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--materialgreen);
    color: white;
}

.course-descrip-bg {
    --padding: 16px;
    position: absolute;
    top: 45vh;
    z-index: 1;
    width: calc(100vw - 2 * var(--padding));
    min-height: calc(55vh - 2 * var(--padding));
    padding: var(--padding);
    background-color: var(--white);
    color: var(--darkergray);
    /* text-align: justify; */
    border-radius: 2em 2em 0 0;
}