.intro-bg {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--green), var(--lightgreen));
}

.intro-wrapper {
    --padding: 5vh;
    width: 100vw;
    height: calc(100vh - var(--padding));
    padding-top: var(--padding);
    color: white;
    text-align: center;
}


.intro-left {
    display: inline-block;
    text-align: right;
    width: 35%;
}

.intro-right {
    display: inline-block;
    text-align: left;
    width: 55%;
    vertical-align: top;
    padding: 1rem 0;
}



