.main-bg {
    /* height: 100%; */
    padding-top: calc(var(--tabsHeight));
    border: 1px solid red;
}

.main-wrapper {
    padding: 0 16px;
}

.main2-wrapper {
    /* height: calc(100% - 48px); */
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.main-center {
    margin-top: 42px;
    color: var(--darkgray);
    text-align: center;
}

.main-center h6 {
    font-weight: 600;

}

.MuiTabs-indicator {
    height: var(--tabsIndicatorHeight) !important;
}