.main-bg {
    /* height: 100%; */
    padding-top: calc(var(--tabsHeight));
}

.main-wrapper {
    padding: 0 16px;
}

.main2-wrapper {
    /* height: calc(100% - 48px); */
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

.main-center {
    height: var(--editModeTextHeight);
    vertical-align: text-bottom;
    color: var(--darkgray);
    text-align: center;
}

.bottom-align {
    position:absolute;
    bottom: 0;
    width: 100%;
}

.main-center h6 {
    font-weight: 600;

}

.MuiTabs-indicator {
    height: var(--tabsIndicatorHeight) !important;
}