.main-bg {
    height: 100vh;
    padding-top: 48px;
}

.main-wrapper {
    padding: 0 16px;
}

.main2-wrapper {
    /* height: calc(100% - 48px); */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-center {
    margin-top: 42px;
    color: var(--darkgray);
    text-align: center;
}

.main-center h6 {
    font-weight: 600;

}