:root {
  --green: #0A5E2A;
  --darkgreen: #03461c;
  --darkergreen: #022b12;
  --materialgreen: #4CAF50;
  --lightgreen: #6DAC4F;
  --bluegreen: #00a87e;
  --white: #EFEFE7;
  --orange: #FF9100;
  --red: #FE0000;
  --gray: #919191;
  --darkgray: #5e5e5e;
  --darkergray: #2e2e2e;
  --bggray: #eaeaea;
  --link: rgb(0, 80, 155);
  --takenColor: var(--lightgreen);
  --takingColor: var(--bluegreen);
  --not-takenColor: var(--gray);
  scroll-behavior: smooth;
  
}


body {
  margin: 0;
  letter-spacing: 0.1rem;
  text-overflow: ellipsis;
  line-height: 1.4;
  font-family: metropolis, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  letter-spacing: 0.1rem;
  margin: 0;
  font-size: 14px;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
}

h2 {
  font-weight: 400;
  font-size: 3.75rem;
}

h3 {
  font-weight: 500;
  font-size: 3rem;
}

h4 {
  font-weight: 500;
  font-size: 2.125rem;
}

h5 {
  font-weight: 500;
  font-size: 1.5rem;
}

h6 {
  font-weight: 400;
  font-size: 1.25rem;
}

.wrapword {
  white-space: -moz-pre-wrap !important;/* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /* Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}



/** LAYOUT */
.layout-wrapper {
  --toolbarHeight: 60px;
  --tabsHeight: 48px;
  --tabsIndicatorHeight: 2px;
  --editModeTextHeight: 90px;
  --editModeDividerTopMargin: 8px;
  
  color: white;
  background-color: var(--bggray);

}

.full-width {
  width: 100% !important;
}


.top-align {
  vertical-align: top;
}

.bottom {
  position: fixed;
  bottom: 5vh;
  width: 100vw;
}

.logo {
  width: 6rem;
}




form {
  width: 100%;
  margin: auto;
}

input {
  width: 60%;
  font-size: 1.2rem;
  margin: 20px auto;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
  padding: 1.0rem 1.5rem;
  display: block;
  font-family: metropolis;
  letter-spacing: 0.1rem;
  box-shadow: 0 1px 10px rgb(54, 54, 54);
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
  box-shadow: 0 2px 15px var(--darkgreen);
  /* box-shadow: 0 0 0 2px ; */
}



/** BUTTON */

.mybutton {
  /*Button1 for Enter and Done*/
  letter-spacing: 0.1rem;
  background-color: var(--white) !important;
  color: #000 !important;
  padding: 8px 45px !important;
  border-radius: 2rem !important;
  box-shadow: 0 1px 10px rgb(54, 54, 54) !important;
}

  /** Button2 for View Tips*/

.mybutton2 {
  letter-spacing: 0.1rem;
  background-color: var(--green) !important;
  color: var(--white) !important;
  margin: 10px 0 10px 0 !important;
  padding: 8px 45px !important;
  border-radius: 2rem !important;
  box-shadow: 0 1px 10px rgb(54, 54, 54) !important;

}

/** Button3 for Submit*/

.mybutton3 {
  letter-spacing: 0.1rem;
  background-color: var(--green) !important;
  color: var(--white) !important;
  width: 30%;
  /* margin: 0 auto !important; */
  /* padding: 8px 45px !important; */
  /* border-radius: 2rem !important; */
  box-shadow: 0 1px 10px rgb(54, 54, 54) !important;

}

/** Button4 for Cancel*/

.mybutton4 {
  letter-spacing: 0.1rem;
  background-color: transparent !important;
  color: var(--green) !important;
  width: 30%;
  /* margin: 0 auto !important; */
  /* padding: 8px 45px !important; */
  /* border-radius: 2rem !important; */
  /* box-shadow: 0 1px 10px rgb(54, 54, 54) !important; */

}


/** COURSE BOXES */


.courses-wrapper {
  background-color: var(--white);
  height: 55vh;
  /* width: 200vw; */
  overflow-x: scroll;
  padding: 8px;
  vertical-align: top;
}

.div-full-screen {
  position: fixed;
  /* pointer-events: none; */
  z-index: 1101;
  background-color: var(--green);
  opacity: 0,
}



.course-box {
  
  /* width: 24px; */
  display: inline-block;
  /* height: 24px; */
  padding: 10px 10px;
  border-radius: 0px;
  /* border: 4px solid; */
  box-shadow: 0px 1px 1px #333;
  overflow: hidden;
  margin: 4px;
  /* user-select: none; */
}

.course-box:hover {
  cursor: pointer;
}

.course-box p {
  user-select: none;
  font-size: 0.8rem !important;
}

.taken {
  background-color: var(--takenColor) !important;
  /* border-color: #4c7937; */
}

.taking {
  background:var(--takingColor) !important;
  /* border-color: #073d1c; */
}

.not-taken {
  background-color: var(--not-takenColor) !important;
  /* border-color: #5f5f5f; */
}

.sem-card {
  background-color: #fff;
  box-shadow: 3px 6px 12px var(--gray);
  text-align: left;
  margin: 42px 0;
  padding: 4px;
  border-radius: 0.4rem;
}

.tighten-sem-card {
  margin: 16px 0 !important;

}

.sem-tag {
  color: var(--darkgray);
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
}

/** REACT FLOW */
.react-flow__edge-path {
  stroke: black !important;
  stroke-width: 2 !important;
}


.react-flow__node {
  /* background: #0072dd !important; */
  color: white !important;
  font-size: 0.8rem !important;
  padding: 5px !important;
  border: none !important;
  width: auto !important;
}

.react-flow__handle {
  visibility: hidden !important;
  /* height: 0 !important; */
  border: none !important;
  background: black !important;
  width: 4px !important;
  height: 4px !important;
}


/* *LEGEND */
.legend {
  color: var(--darkgray);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
}

.legend-item {
  width: 32%;
  display: inline-block;
}

.legend-circle {
  width: 0.8em;
  height: 0.8em;
  margin-right: 4px;
  border-radius: 0.4em;
  display: inline-block;
}

.legend-label {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  display: inline-block;
}






@media only screen and (min-width: 600px) {

  /* For tablets: */
  input {
    width: 40%;
  }
}

@media only screen and (min-width: 900px) {

  /* For PC: */
  input {
    width: 25%;
  }
}

